.model-heading{
	text-align: center;
}

.footer{
	background-color: #333333;
	width: 100%;
	height: 43px;
}

.footer-text{
	color: white;
	font-size: 18px;
	padding-top: 8px;
}

.productImages{
	border: 1px solid #c2d6d6;
}

#productNameDisp{
	font-size: 17px;
}

/*#sname{
	margin-top: 0.2vw;
	width: 10vw;
}*/

label{
	font-size: 14px;
}